---
import Button from "../../components/Button.astro";
---

<section class="bg-gradient-to-t from-zinc-950 to-zinc-900 text-white">
  <div class="padding-global py-40">
    <div class="container h-full relative flex flex-col gap-8 justify-center">
      <h1>
        Hello! I'm Kevin —
        <br />Web Designer & Developer
      </h1>
      <p class="max-w-2xl text-xl text-zinc-400">
        Specializing in pixel-perfect Webflow development, I turn detailed
        designs into high-performing, responsive websites.
      </p>
      <div class="flex gap-4">
        <Button url="/" text="Start a project" />
        <Button url="/" text="Learn more" variant="secondary" />
      </div>
    </div>
  </div>
</section>
