---
import PricingCalculator from "../PricingCalculator.astro";
---

<section class="py-32 bg-zinc-950 text-white">
  <div class="padding-global">
    <div class="max-w-screen-md m-auto">
      <h2 class="text-center mb-8">How much will my website cost?</h2>
      <PricingCalculator />
    </div>
  </div>
</section>
