---
import Button from "../Button.astro";
import PricingCalculator from "../PricingCalculator.astro";
---

<section class="section bg-zinc-950 text-white">
  <div class="padding-global">
    <div class="container grid md:grid-cols-2 items-center gap-6">
      <div class="flex flex-col gap-6 items-start">
        <h2>How much will my website cost?</h2>
        <p class="text-lg text-zinc-400 max-w-lg">
          My development process is designed to be straightforward and
          transparent, ensuring that you're informed and comfortable every step
          of the way.
        </p>
        <Button text="Start your project" variant="secondary" />
      </div>
      <PricingCalculator />
    </div>
  </div>
</section>
