---
import Badge from "../Badge.astro";
import Button from "../Button.astro";
import Card from "../Card.astro";
---

<section class="section bg-zinc-950 text-white">
  <div class="padding-global">
    <div class="container">
      <div class="grid md:grid-cols-2 gap-10 items-start">
        <div class="flex flex-col md:sticky top-1/4 gap-8">
          <h2>How it works</h2>
          <p class="text-lg text-zinc-400 max-w-lg">
            My development process is designed to be straightforward and
            transparent, ensuring that you're informed and comfortable every
            step of the way.
          </p>
          <div class="flex">
            <Button text="Start your project" variant="secondary" />
          </div>
        </div>
        <div class="flex flex-col gap-6">
          <Card
            title="Initial Consultation"
            text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
            ><div class="flex">
              <Badge>Step 01</Badge>
            </div></Card
          >
          <Card
            title="Quote & Timeline"
            text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
            ><div class="flex">
              <Badge>Step 02</Badge>
            </div></Card
          >
          <Card
            title="Development"
            text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
            ><div class="flex">
              <Badge>Step 03</Badge>
            </div></Card
          >
          <Card
            title="Handover & Training"
            text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
            ><div class="flex">
              <Badge>Step 04</Badge>
            </div></Card
          >
        </div>
      </div>
    </div>
  </div>
</section>
