---
import Card from "../../components/Card.astro";
import { Icon } from "astro-icon/components";
---

<section class="bg-zinc-950 text-white">
  <div class="padding-global">
    <div class="container">
      <h2 class="mb-8">What I can do for You</h2>
      <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
        <Card
          title="Webflow Development"
          text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality."
          ><Icon name="ph:browsers" class="icon" />
        </Card>
        <Card
          title="SEO Optimization"
          text="I can translate your existing Wordpress site to Webflow with 1:1 pixel perfect precision. No more plugins and slow site speed."
          ><Icon name="ph:list-magnifying-glass" class="icon" />
        </Card>
        <Card
          title="Web Design"
          text="Whether you need a design from scratch or want to refine existing ones, I can ensure your site looks great and works flawlessly."
          ><Icon name="ph:bounding-box" class="icon" />
        </Card>
      </div>
    </div>
  </div>
</section>
