---
import TestimonialSlider from "../TestimonialSlider.astro";
---

<section class="section bg-zinc-950 text-white">
  <div class="padding-global">
    <div class="container">
      <div class="px-8 py-8 bg-zinc-900 rounded-xl flex flex-col gap-8">
        <h2>
          Don't just take my word for it—here's what my clients have to say
          about working with me.
        </h2>
      </div>
      <TestimonialSlider />
    </div>
  </div>
</section>
