---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <Section id="about">
    <Button text="Learn more" />
  </Section>
</MainLayout>
