---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <section class="py-20">
    <div class="container">
      <h1>Testing</h1>
      <p class="text-lg">Lorem ipsum</p><Button text="Learn more" />
    </div>
  </section>
</MainLayout>
