---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <section class="py-20">
    <div class="container"><Button text="Learn more" /></div>
  </section>
</MainLayout>
