---
import Navbar from "../components/Navbar.astro";
import ProjectList from "../components/ProjectList.astro";
import "@fontsource-variable/dm-sans";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Eiserman - Portfolio</title>
  </head>
  <body>
    <div class="page-wrapper bg-zinc-950 antialiased">
      <Navbar />
      <section id="hero" class="bg-gradient-to-b from-zinc-800 to-zinc-950">
        <div
          class="max-w-7xl m-auto px-6 flex justify-between items-center text-white pb-28 pt-40"
        >
          <div class="max-w-4xl">
            <h1 class="text-6xl leading-tight mb-4" animated-heading>
              Hello! I'm Kevin — <br />Web Designer & Developer
            </h1>
            <p class="text-lg text-zinc-400 mb-6 max-w-xl">
              Bringing a design-first approach to front-end web development to
              create intuitive and impactful user experiences.
            </p>
          </div>
        </div>
      </section>
      <section id="portfolio">
        <div
          class="max-w-7xl m-auto px-6 flex justify-between items-center py-4"
        >
          <ProjectList />
        </div>
      </section>
      <section id="contact">
        <div class="container text-white py-20">
          <h2 class="mb-3" animated-heading>Lets work together</h2>
          <p class="text-lg text-zinc-400 mb-6 max-w-xl">
            Whether you need of design assistance or code tweaking, I can help
            take your project to the next level.
          </p>
          <button class="btn btn-outline" hacker-text>Get in touch</button>
        </div>
      </section>
      <footer>
        <div
          class="text-center p-6 border border-t border-zinc-800 text-zinc-500 text-sm"
        >
          &copy Copyright Kevin Eiserman <span copyright-date>2023</span>
        </div>
      </footer>
    </div>
  </body>
</html>
