---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectList from "../components/ProjectList.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <section>
    <div class="container">
      <div class="max-w-4xl">
        <h1 class="mb-4">
          Hello! I'm Kevin — <br />Web Designer & Developer
        </h1>
        <p class="text-lg text-zinc-700 mb-6 max-w-xl">
          Bringing a design-first approach to front-end web development to
          create intuitive and impactful user experiences.
        </p>
        <Button text="Get in touch" />
      </div>
    </div>
  </section>
  <section class="py-0">
    <div class="container">
      <div class="flex flex-col py-4">
        <h2 class="mb-6">Projects</h2>
        <ProjectList />
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="mb-6">Capabilities</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="border border-zinc-300 p-6 rounded-lg">
          <div class="text-lg font-mono mb-12 text-zinc-400">(01)</div>
          <div class="text-2xl mb-4 text-zinc-900">Design</div>
          <div class="text-md text-zinc-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
        <div class="border border-zinc-300 p-6 rounded-lg">
          <div class="text-lg font-mono mb-12 text-zinc-400">(02)</div>
          <div class="text-2xl mb-4 text-zinc-900">Development</div>
          <div class="text-md text-zinc-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
        <div class="border border-zinc-300 p-6 rounded-lg">
          <div class="text-lg font-mono mb-12 text-zinc-400">(03)</div>
          <div class="text-2xl mb-4 text-zinc-900">UI/UX</div>
          <div class="text-md text-zinc-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="mb-6" data-animate="heading">Lets work together</h2>
      <p class="text-lg text-zinc-700 mb-6 max-w-xl">
        Whether you need of design assistance or code tweaking, I can help take
        your project to the next level.
      </p>
      <Button text="Get in touch" />
    </div>
  </section>
</MainLayout>
