---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectList from "../components/ProjectList.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <section class="bg-zinc-900 text-white">
    <div class="padding-global">
      <div
        class="container flex items-center bg-gradient-to-b from-zinc-900 to-zinc-800 px-10 py-32 rounded-lg"
      >
        <div class="max-w-3xl flex flex-col gap-8">
          <h1>
            Your Go-To Webflow Developer for Pixel-Perfect, Responsive, and
            SEO-Optimized Websites
          </h1>
          <p class="text-lg text-zinc-400 max-w-2xl">
            Specializing in pixel-perfect Webflow development, I turn detailed
            designs into high-performing, responsive websites with advanced
            functionality.
          </p>
          <div class="flex gap-4">
            <Button text="Start a project" />
            <Button text="Learn more" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-0 bg-zinc-900 text-white">
    <div class="padding-global">
      <div class="container">
        <div class="flex flex-col">
          <h2 class="mb-6">Projects</h2>
          <ProjectList />
        </div>
      </div>
    </div>
  </section>
  <section class="bg-zinc-900 text-white">
    <div class="container">
      <h2 class="mb-6">Capabilities</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="border border-zinc-300 p-6 rounded-lg">
          <div class="text-lg font-mono mb-12 text-zinc-400">(01)</div>
          <div class="text-2xl mb-4 text-zinc-900">Design</div>
          <div class="text-md text-zinc-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
        <div class="border border-zinc-300 p-6 rounded-lg">
          <div class="text-lg font-mono mb-12 text-zinc-400">(02)</div>
          <div class="text-2xl mb-4 text-zinc-900">Development</div>
          <div class="text-md text-zinc-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
        <div class="border border-zinc-300 p-6 rounded-lg">
          <div class="text-lg font-mono mb-12 text-zinc-400">(03)</div>
          <div class="text-2xl mb-4 text-zinc-900">UI/UX</div>
          <div class="text-md text-zinc-600">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-zinc-900 text-white">
    <div class="container">
      <h2 class="mb-6" data-animate="heading">Lets work together</h2>
      <p class="text-lg text-zinc-700 mb-6 max-w-xl">
        Whether you need of design assistance or code tweaking, I can help take
        your project to the next level.
      </p>
      <Button text="Get in touch" />
    </div>
  </section>
</MainLayout>
