---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectList from "../components/ProjectList.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import TestimonialList from "../components/TestimonialList.astro";
import ContactForm from "../components/ContactForm.astro";
import { Icon } from "astro-icon/components";
---

<MainLayout>
  <section class="h-screen flex items-center justify-center">
    <div class="padding-global h-full">
      <div class="container h-full text-center relative">
        <div
          class="max-w-4xl h-full flex flex-col gap-8 items-center justify-center"
        >
          <h1>
            Your Go-To Webflow Developer for Pixel-Perfect, Responsive, and
            SEO-Optimized Websites
          </h1>
          <p class="max-w-2xl text-lg text-neutral-600 dark:text-neutral-400">
            Specializing in pixel-perfect Webflow development, I turn detailed
            designs into high-performing, responsive websites with advanced
            functionality.
          </p>
          <div class="flex gap-4 justify-center">
            <Button url="/" text="Start a project" />
            <Button url="/" text="Learn more" variant="secondary" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="padding-global">
      <div class="container">
        <h2 data-animate="text" class="text-center mb-14">
          What I can do for You
        </h2>
        <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
          <Card
            title="Webflow Development"
            text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
            ><Icon name="ph:browsers" class="icon" />
          </Card>
          <Card
            title="SEO Optimization"
            text="From the ground up, your website will be optimized for search engines. I ensure proper use of semantic HTML, heading tags, OG images, meta descriptions, and alt tags, giving your site the best chance to rank well and attract organic traffic."
            ><Icon name="ph:list-magnifying-glass" class="icon" />
          </Card>
          <Card
            title="Web Design"
            text="As both a designer and developer, I bridge the gap between creative vision and execution. Whether you need a design from scratch or want to refine existing ones, I understand both worlds and ensure your site looks great and works flawlessly."
            ><Icon name="ph:bounding-box" class="icon" />
          </Card>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="padding-global">
      <div class="container">
        <div class="flex flex-col">
          <h2 data-animate="text" class="mb-14">Featured work</h2>
          <ProjectList />
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="padding-global">
      <div class="container">
        <div class="grid md:grid-cols-2 gap-10 items-start">
          <div class="flex flex-col md:sticky top-1/4 gap-8">
            <h2 data-animate="text">How it works</h2>
            <p class="text-lg text-neutral-600 dark:text-neutral-400 max-w-lg">
              My development process is designed to be straightforward and
              transparent, ensuring that you're informed and comfortable every
              step of the way.
            </p>
            <div class="flex">
              <Button text="Start your project" variant="secondary" />
            </div>
          </div>
          <div class="flex flex-col gap-6">
            <Card
              data-animate="fade"
              title="Initial Consultation"
              text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
              ><div class="flex">
                <Badge>Step 01</Badge>
              </div></Card
            >
            <Card
              data-animate="fade"
              title="Quote & Timeline"
              text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
              ><div class="flex">
                <Badge>Step 02</Badge>
              </div></Card
            >
            <Card
              data-animate="fade"
              title="Development"
              text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
              ><div class="flex">
                <Badge>Step 03</Badge>
              </div></Card
            >
            <Card
              data-animate="fade"
              title="Handover & Training"
              text="I specialize in Webflow development, creating websites that are not only visually stunning but also packed with advanced functionality. Whether you need complex layouts, intricate animations, or custom JavaScript solutions, I've got you covered."
              ><div class="flex">
                <Badge>Step 04</Badge>
              </div></Card
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="padding-global">
      <div class="container">
        <div class="card flex flex-col gap-8">
          <h2 data-animate="text" class="mb-14">
            Don't just take my word for it—here's what my clients have to say
            about working with me.
          </h2>
          <TestimonialList />
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="padding-global">
      <div class="container grid md:grid-cols-2 items-center gap-6">
        <div class="flex flex-col gap-6 items-start">
          <h2 data-animate="text">How much will my website cost?</h2>
          <p class="text-lg text-neutral-600 dark:text-neutral-400 max-w-lg">
            My development process is designed to be straightforward and
            transparent, ensuring that you're informed and comfortable every
            step of the way.
          </p>
          <Button text="Start your project" variant="secondary" />
        </div>
        <ContactForm />
      </div>
    </div>
  </section>
</MainLayout>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import SplitType from "split-type";

  gsap.registerPlugin(ScrollTrigger);

  (() => {
    const elements = document.querySelectorAll("[data-animate='fade'");

    elements.forEach((element) => {
      gsap.from(element, {
        opacity: 0.2,
        scale: 0.9,
        filter: "blur(2px)",
        scrollTrigger: {
          trigger: element,
          start: "top 80%",
          end: "bottom 80%",
          scrub: 0.5,
        },
      });
    });
  })();

  (() => {
    const elements = Array.from(
      document.querySelectorAll("[data-animate='text'")
    ) as HTMLElement[];

    new SplitType(elements, {
      types: "lines,words,chars",
      tagName: "span",
    });

    elements.forEach((element) => {
      gsap.from(element.querySelectorAll(".char"), {
        scrollTrigger: {
          trigger: element,
          start: "top 60%",
          end: "bottom 60%",
          scrub: 0.5,
        },
        opacity: 0.25,
        stagger: 0.1,
      });
    });
  })();
</script>
