---
const { text } = Astro.props;
---

<button
  class="py-3 px-4 bg-transparent hover:bg-zinc-100 text-zinc-700 rounded-lg leading-none shadow-sm border border-zinc-300 transition"
  >{text}
</button>
