---
const { title, text, ...rest } = Astro.props;
---

<div
  class="px-6 py-8 rounded-xl bg-zinc-900 border border-zinc-900 flex flex-col gap-6"
  {...rest}
>
  <slot />
  <div class="text-3xl font-semibold">{title}</div>
  <p class="text-base text-zinc-400">{text}</p>
</div>
