---
import Button from "./Button.astro";
---

<header class="fixed w-full border-b border-zinc-300 bg-white">
  <div
    class="m-auto max-w-screen-xl px-6 py-8 flex justify-between items-center"
  >
    <a href="/" class="text-xl">Kevin Eiserman</a>
    <div id="nav-menu" class="md:block hidden">
      <div
        class="md:flex md:flex-row md:bg-transparent md:relative md:top-0 md:p-0 gap-4 md:items-center flex flex-col absolute top-20 right-0 p-6 w-full bg-zinc-800"
      >
        <a href="/" class="text-zinc-700 hover:text-black">Home</a>
        <a href="/about" class="text-zinc-700 hover:text-black">Work</a>
        <a href="/about" class="text-zinc-700 hover:text-black">About</a>
        <Button text="Get in touch" />
      </div>
    </div>
    <div id="hamburger" class="flex flex-col gap-1.5 md:hidden z-50">
      <span class="w-6 h-0.5 bg-black"></span>
      <span class="w-6 h-0.5 bg-black"></span>
      <span class="w-6 h-0.5 bg-black"></span>
    </div>
  </div>
</header>
<script>
  const navMenu = document.querySelector("#nav-menu");
  const hamburger = document.querySelector("#hamburger");
  hamburger.addEventListener("click", () => {
    navMenu.classList.toggle("hidden");
  });
</script>
