---
import Button from "../components/Button.astro";
---

<header class="fixed top-0 left-0 right-0 z-50 bg-zinc-950/70 backdrop-blur-md">
  <div class="max-w-6xl m-auto px-6 flex justify-between items-center py-4">
    <a href="#" class="text-xl text-white">Kevin Eiserman</a>
    <div class="flex gap-4 items-center">
      <ul class="flex gap-4">
        <li><a class="text-zinc-300 hover:text-white" href="">Home</a></li>
        <li><a class="text-zinc-300 hover:text-white" href="">Work</a></li>
        <li><a class="text-zinc-300 hover:text-white" href="">About</a></li>
      </ul>
      <Button text="Get in touch" />
    </div>
  </div>
</header>
