---
import Button from "../components/Button.astro";
const projects = await Astro.glob("../content/projects/*.md");
---

{
  projects.map((project) => (
    <div class="grid md:grid-cols-3 gap-8 items-center border-zinc-700 border-t py-8">
      <div class="flex flex-col justify-between items-start h-full">
        <div class="flex flex-col items-start">
          <div class="text-sm uppercase tracking-wider text-zinc-500 mb-4">
            {project.frontmatter.tag}
          </div>
          <h2 class="text-4xl mb-4" data-animate="heading">
            {project.frontmatter.title}
          </h2>
          <p class="text-zinc-500 mb-4">{project.frontmatter.description}</p>
        </div>

        <Button text="View project" />
      </div>
      <img
        src=""
        data-animate="element"
        class="aspect-[3/2] col-span-2 bg-zinc-200 object-cover rounded-lg"
      />
    </div>
  ))
}

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const elements = document.querySelectorAll("[data-animate='element'");
  elements.forEach((element) => {
    gsap.from(element, {
      scrollTrigger: {
        trigger: element,
        scrub: true,
        start: "top center",
        end: "bottom center",
      },
      opacity: 0.25,
      duration: 2,
    });
  });
</script>
