---
import Button from "../components/Button.astro";
import Badge from "./Badge.astro";
const projects = await Astro.glob("../content/projects/*.md");
---

<div class="grid gap-8">
  {
    projects.map((project) => (
      <div class="card grid md:grid-cols-3 gap-8 items-center">
        <div class="flex flex-col justify-between items-start h-full">
          <div class="flex flex-col items-start">
            <Badge>{project.frontmatter.tag}</Badge>

            <h2 class="text-4xl mb-4" data-animate="heading">
              {project.frontmatter.title}
            </h2>
            <p class="text-zinc-400 mb-4">{project.frontmatter.description}</p>
          </div>

          <Button text="View project" variant="secondary" />
        </div>
        <img
          src=""
          data-animate="element"
          class="aspect-[3/2] col-span-2 bg-zinc-700 object-cover rounded-lg"
        />
      </div>
    ))
  }
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const elements = document.querySelectorAll("[data-animate='element'");
  elements.forEach((element) => {
    gsap.from(element, {
      scrollTrigger: {
        trigger: element,
        scrub: 0.5,
        start: "top center",
        end: "bottom center",
      },
      scale: 0.9,
      duration: 1,
    });
  });
</script>
