---
import Header from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/dm-sans";
import "@fontsource/dm-mono";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Eiserman - Portfolio</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  body {
    @apply bg-white text-zinc-950 dark:bg-zinc-950 dark:text-white;
  }

  h1 {
    @apply md:text-5xl text-3xl font-medium;
  }

  h2 {
    @apply md:text-5xl text-3xl font-medium;
  }

  .padding-global {
    @apply px-[5%];
  }

  .container {
    @apply max-w-screen-xl m-auto;
  }

  .section {
    @apply md:py-32 py-14;
  }

  .navbar-link {
    @apply text-zinc-600 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white;
  }

  .card {
    @apply px-6 py-8 md:px-8 md:py-10 rounded-xl bg-gradient-to-b 
    from-zinc-50 to-white border-zinc-200 dark:from-zinc-950 dark:to-zinc-900 border dark:border-zinc-800;
  }

  .icon {
    @apply size-10 p-2 bg-zinc-200 dark:text-zinc-300 dark:bg-zinc-800 rounded-md;
  }
</style>
