---
import Header from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Eiserman - Portfolio</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Satoshi";
  }

  h1 {
    @apply md:text-5xl text-4xl font-medium;
  }

  .padding-global {
    @apply px-[5%];
  }

  .container {
    @apply max-w-screen-xl m-auto;
  }

  section {
    @apply md:py-24 py-14;
  }

  .navbar-link {
    @apply text-zinc-400 hover:text-white;
  }
</style>
