---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/dm-sans";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Eiserman - Portfolio</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  h1 {
    @apply md:text-6xl text-4xl leading-tight;
  }

  h2 {
    @apply md:text-5xl text-3xl leading-tight;
  }

  .container {
    @apply max-w-screen-xl m-auto px-4;
  }

  section {
    @apply md:py-24 py-14;
  }
</style>
